@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <br />
    <h4>PONTIFÍCIA UNIVERSIDADE CATÓLICA DE MINAS GERAIS</h4>
    <h5>Projeto Integrado - Arquitetura de Software Distribuído</h5>
    <br />
    <p>Aluno: Ricardo Dias da Silveira</p>
</div>
